@import "tailwindcss";

*, * >, body, html {
  padding: 0;
  margin: 0;
}

.barlow {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Bellefair {
  font-family: "Bellefair", serif;
  font-weight: 200;
}

@theme {
  --color-white : #D0D6F9 ;
  --color-white-Pure : #FFFFFF ;
  --color-menu: rgba(11, 13, 23, 0.15) ; 
  --spacing-header : 24px;
}

